<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61398034632-t8ldeh5j1s9dc0lv878nh9oth60b9mvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61398034632-t8ldeh5j1s9dc0lv878nh9oth60b9mvt</string>
	<key>API_KEY</key>
	<string>AIzaSyBP9hbzfoFXUe81WcQVMgY-Bq4fkMvRDZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>61398034632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charles.NationalParks</string>
	<key>PROJECT_ID</key>
	<string>cis195-app-5-nationalparks</string>
	<key>STORAGE_BUCKET</key>
	<string>cis195-app-5-nationalparks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61398034632:ios:619d19d8725c3dcc889dfd</string>
	<key>DATABASE_URL</key>
	<string>https://cis195-app-5-nationalparks.firebaseio.com</string>
</dict>
</plist>